@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: quicksand;
}

/* Notification */
.notification {
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  margin-top: 1.875rem;
}

/* Invalid Page */
.invalid-page {
  font-size: 1.25rem;
  text-align: center;
  margin-top: 12.5rem;
  color: #f1356d
}

.invalid-page a {
  text-decoration: none;
  color: #007BFF
}

/* Navigation Bar */
.navbar {
  display: flex;
  align-items: center;
  max-width: 71.875rem;
  margin: auto;
  border-bottom: 1px solid #f2f2f2;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.navbar .links {
  margin-left: auto;
  display: flex;
}

.navbar .active {
  color: red;
  margin-left: 3.125rem;
  font-weight: bold;
}

.navbar .inactive {
  color: blue;
  margin-left: 3.125rem;
  text-decoration: none;
}

.navbar a:hover {
  color: #f1356d;
}

.navbar h1 {
  color: #4a148c;
  font-size: 1.5625rem;
}

.navbar .archive-status {
  margin-left: 3.125rem;
  cursor: pointer;
  color: blue;
}

@media (max-width: 71.875rem) {
  .navbar {
    width: 100%;
    font-size: 0.8rem;
  }

  .navbar .active {
    margin-left: 1.5rem;
  }

  .navbar .inactive {
    margin-left: 1.5rem;
  }

  .navbar h1 {
    color: #4a148c;
    font-size: 1rem;
  }

  .navbar .archive-status {
    margin-left: 1.5rem;
    cursor: pointer;
    color: blue;
  }
}