.applicationList {
  max-width: 46.875rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.applicationList .filterOption {
  font-size: 0.75rem;
  position: absolute;
  right: 21.875rem;
  top: 6.5625rem;
  text-align: center;
}

.applicationList .filterOption select {
  background: #e0f0ff;
  color: #003366;
  padding: 0.25rem 0.625rem;
  border-radius: 6.1875rem;
  font-size: 0.75rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.applicationList .application {
  width: 100%;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  gap: 0;
  position: relative;
}

.applicationList .buttonGroup {
  margin-left: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  position: relative;
  width: 11.875rem;
}

.applicationList .buttonGroup .archiveButton button {
  background-color: green;
  color: cornsilk;
  padding: 0.4375rem 1.25rem;
  border-radius: 0.625rem;
  font-weight: bolder;
  font-size: 0.8125rem;
  letter-spacing: 0.125rem;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 0.03125rem;
  right: 2.0625rem;
  left: 0.0625rem;
}

.applicationList .notes textarea {
  position: absolute;
  right: -20.625rem;
  top: 0.9375rem;
  height: 89%;
  width: 18.75rem;
  padding: 0.875rem;
  font-size: 0.9375rem;
  border-radius: 0.625rem;
  border: 2px solid #fbc02d;
  background-color: #fff9c4;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  resize: none;
  outline: none;
  box-sizing: border-box;
}


.applicationList .buttonGroup button {
  background-color: #f1356d;
  border: 0;
  border-radius: 0.625rem;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 0.625rem;
}

.applicationList .applicationButton {
  display: flex;
  gap: 4.375rem;
}

.applicationList .applicationContent {
  color: #666;
  word-wrap: break-word;
  width: 31.25rem;
  gap: 1em;
}

.applicationList .applicationContent .location {
  color: #2a9d8f;
}

.applicationList .applicationContent h2 {
  font-size: 1.5rem;
  color: black;
}

.applicationList .applicationContent .date {
  font-weight: bold;
  color: #343a40;
}

.applicationList .applicationContent a {
  background-color: #e0f0ff;
  color: #0d6efd;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: bolder;
  font-size: 0.8125rem;
  margin-top: 0.625rem;
  letter-spacing: 0.5px;
  border: none;
  display: flex;
  max-width: fit-content;
  cursor: pointer;
  text-decoration: none;
}

.applicationList .applicationContent .url {
  background-color: darkgrey;
  color: cornsilk;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: bolder;
  font-size: 0.8125rem;
  margin-top: 0.625rem;
  letter-spacing: 0.03125rem;
  border: none;
  display: flex;
  max-width: fit-content;
  cursor: pointer;
}

.applicationList .applicationContent select {
  background: #e0f0ff;
  color: #003366;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: bolder;
  font-size: 0.8125rem;
  letter-spacing: 0.03125rem;
  border: none;
  margin-left: 0.625rem;
  cursor: pointer;
}

.applicationList .applicationContent a:hover {
  background-color: #d0e8ff;
}

.applicationList .applicationContent .url:hover {
  background-color: #6c757d;
}

.applicationList .applicationContent .applied {
  background-color: #17A2B8;
  color: white;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: 600;
  font-size: 0.8125rem;
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.03125rem;
}

.applicationList .applicationContent .interview {
  background-color: #0D6EFD;
  color: white;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: 600;
  font-size: 0.8125rem;
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.03125rem;
}

.applicationList .applicationContent .offer {
  background-color: #ffc107;
  color: white;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: 600;
  font-size: 0.8125rem;
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.03125rem;
}

.applicationList .applicationContent .accepted {
  background-color: #198754;
  color: white;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: 600;
  font-size: 0.8125rem;
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.03125rem;
}

.applicationList .applicationContent .rejected {
  background-color: #dc3545;
  color: white;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: 600;
  font-size: 0.8125rem;
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.03125rem;
}

.applicationList .applicationContent .ghosted {
  background-color: #6C757D;
  color: white;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: 600;
  font-size: 0.8125rem;
  display: inline-flex;
  margin: 0;
  letter-spacing: 0.03125rem;
}

.applicationList .applicationContent .declined {
  background-color: rebeccapurple;
  color: white;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: 600;
  font-size: 0.8125rem;
  display: inline-flex;
  margin: 0;
  letter-spacing: 0.03125rem;
}

.applicationList .applicationButton button {
  background-color: #f1356d;
  border: 0;
  border-radius: 0.625rem;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 0.625rem;
  margin-top: 1.25rem;
}

.applicationList a,
.archivedApplicationList a {
  text-decoration: none;
  color: #17a2b8;
}

/* Highlight application div to make it more prominent for users to see */
.highlighted {
  animation: highlightFade 4s ease-in-out;
}

@keyframes highlightFade {
  0% {
    background-color: #dfffd9;
  }

  100% {
    background-color: inherit;
  }
}

@media (max-width: 71.875rem) and (orientation: portrait) {
  .applicationList {
    max-width: 90%;
  }

  .applicationList>h2 {
    font-size: 1.2rem;
    margin-bottom: 5rem;
  }

  .applicationList .filterOption {
    right: 65%;
    top: 15%;
  }

  .applicationList .application {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    gap: 0.5rem;
  }

  .applicationList .buttonGroup .archiveButton button {
    position: relative;
  }

  .applicationList .applicationContent select {
    margin-left: 0;
    margin-top: 0.4375rem;
    display: block;
  }

  .applicationList .buttonGroup {
    justify-content: center;
    flex-direction: column;
    width: 50%;
  }

  .applicationList .notes textarea {
    right: -18.925rem;
  }

  .applicationList .applicationButton {
    gap: 3.375rem;
  }
}
