
.add-application {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.add-application label {
  justify-content: left;
  display: flex;
}
.add-application h2 {
  font-size: 24px;
  margin-bottom: 20px;
  word-break: break-all;
}
.add-application input {
  width: 575px;
  padding: 6px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1.5px solid #ddd;
}
.add-application select {
  width: 600px;
  padding: 6px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1.5px solid #ddd;
  box-sizing: border-box;
}
.add-application .submit-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 70px; 
}
.add-application button {
  color:#ddd;
  background:#f1356d;
  border: 0;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.add-application button {
  color:#ddd;
  background:#f1356d;
  border: 0;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}
