.application-list {
  max-width: 46.875rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.application-list .filter-option {
  font-size: 0.75rem;
  position: absolute;
  right: 21.875rem;
  top: 6.5625rem;
  text-align: center;
}

.application-list .filter-option select {
  background: #e0f0ff;
  color: #003366;
  padding: 0.25rem 0.625rem;
  border-radius: 6.1875rem;
  font-size: 0.75rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.application-list .application {
  width: 100%;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  gap: 0;
  position: relative;
}

.application-list .button-group {
  margin-left: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  gap: 0.625rem;
  position: relative;
  width: 11.875rem;
}

.application-list .button-group .archive-button button {
  background-color: green;
  color: cornsilk;
  padding: 0.4375rem 1.25rem;
  border-radius: 0.625rem;
  font-weight: bolder;
  font-size: 0.8125rem;
  letter-spacing: 0.125rem;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 0.03125rem;
  right: 2.0625rem;
  left: 0.0625rem;
}

.application-list .notes textarea {
  position: absolute;
  right: -20.625rem;
  top: 0.9375rem;
  height: 89%;
  width: 18.75rem;
  padding: 0.875rem;
  font-size: 0.9375rem;
  border-radius: 0.625rem;
  border: 2px solid #fbc02d;
  background-color: #fff9c4;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  resize: none;
  outline: none;
  box-sizing: border-box;
}


.application-list .button-group button {
  background-color: #f1356d;
  border: 0;
  border-radius: 0.625rem;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 0.625rem;
}

.application-list .application-button {
  display: flex;
  gap: 4.375rem;
}

.application-list .application-content {
  color: #666;
  word-wrap: break-word;
  width: 31.25rem;
}

.application-list .application-content .location {
  color: #2a9d8f;
}

.application-list .application-content h2 {
  font-size: 1.5rem;
  color: black;
}

.application-list .application-content .date {
  font-weight: bold;
  color: #343a40;
}

.application-list .application-content a {
  background-color: #e0f0ff;
  color: #0d6efd;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: bolder;
  font-size: 0.8125rem;
  margin-top: 0.625rem;
  letter-spacing: 0.5px;
  border: none;
  display: flex;
  max-width: fit-content;
  cursor: pointer;
  text-decoration: none;
}

.application-list .application-content .url {
  background-color: darkgrey;
  color: cornsilk;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: bolder;
  font-size: 0.8125rem;
  margin-top: 0.625rem;
  letter-spacing: 0.03125rem;
  border: none;
  display: flex;
  max-width: fit-content;
  cursor: pointer;
}

.application-list .application-content select {
  background: #e0f0ff;
  color: #003366;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: bolder;
  font-size: 0.8125rem;
  letter-spacing: 0.03125rem;
  border: none;
  margin-left: 0.625rem;
  cursor: pointer;
}

.application-list .application-content a:hover {
  background-color: #d0e8ff;
}

.application-list .application-content .url:hover {
  background-color: #6c757d;
}

.application-list .application-content .applied {
  background-color: #17A2B8;
  color: white;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: 600;
  font-size: 0.8125rem;
  display: inline-flex;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 0.03125rem;
}

.application-list .application-content .interview {
  background-color: #0D6EFD;
  color: white;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: 600;
  font-size: 0.8125rem;
  display: inline-flex;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 0.03125rem;
}

.application-list .application-content .offer {
  background-color: #ffc107;
  color: white;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: 600;
  font-size: 0.8125rem;
  display: inline-flex;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 0.03125rem;
}

.application-list .application-content .accepted {
  background-color: #198754;
  color: white;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: 600;
  font-size: 0.8125rem;
  display: inline-flex;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 0.03125rem;
}

.application-list .application-content .rejected {
  background-color: #dc3545;
  color: white;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: 600;
  font-size: 0.8125rem;
  display: inline-flex;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 0.03125rem;
}

.application-list .application-content .ghosted {
  background-color: #6C757D;
  color: white;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: 600;
  font-size: 0.8125rem;
  display: inline-flex;
  margin: 0px;
  letter-spacing: 0.03125rem;
}

.application-list .application-content .declined {
  background-color: rebeccapurple;
  color: white;
  padding: 0.25rem 1.25rem;
  border-radius: 0.3125rem;
  font-weight: 600;
  font-size: 0.8125rem;
  display: inline-flex;
  margin: 0px;
  letter-spacing: 0.03125rem;
}

.application-list .application-button button {
  background-color: #f1356d;
  border: 0;
  border-radius: 0.625rem;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 0.625rem;
  margin-top: 1.25rem;
}

.application-list a,
.archived-application-list a {
  text-decoration: none;
  color: #17a2b8;
}

/* Highlight application div to make it more prominent for users to see */
.highlighted {
  animation: highlightFade 4s ease-in-out;
}

@keyframes highlightFade {
  0% {
    background-color: #dfffd9;
  }

  100% {
    background-color: inherit;
  }
}

@media (max-width: 48rem) {
  .application-list {
    max-width: 90%;
  }

  .application-list>h2 {
    font-size: 1.2rem;
    margin-bottom: 5rem;
  }

  .application-list .filter-option {
    right: 15.5rem;
    top: 6.5625rem;
  }

  .application-list .application {
    padding-right: 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    gap: 0.5rem;
  }

  .application-list .button-group .archive-button button {
    position: relative;
  }

  .application-list .application-content select {
    margin-left: 0;
    margin-top: 0.4375rem;
  }

  .application-list .button-group {
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}