.options {
    display: flex;
    width: min(250px, calc(100vw - 48px));
    flex-direction: column;
    gap: 2px;
}

.compactLabel {
    display: none;
}

@media (max-width: 600px) {
    .fullLabel {
        display: none;
    }

    .compactLabel {
        display: inline;
    }
}
