.interview {
    composes: interview from '../../interview/InterviewCard.module.css';
}

.archived {
    composes: archived from '../../interview/InterviewCard.module.css';
}

.interviewContent {
    composes: interviewContent from '../../interview/InterviewCard.module.css';
}

.buttonGroup {
    composes: buttonGroup from '../../interview/InterviewCard.module.css';
}

.location {
    composes: location from '../../interview/InterviewCard.module.css';
}

.type {
    composes: type from '../../interview/InterviewCard.module.css';
}

.notes {
    composes: notes from '../../interview/InterviewCard.module.css';
}

.date {
    composes: date from '../../interview/InterviewCard.module.css';
}
