.application-line-chart {
    height: 25rem;
    width: 37.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.application-line-chart .application {
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
}

.application-line-chart .no-application-message {
    text-align: center;
}

@media (max-width: 48rem) {
    .application-line-chart {
        height: 20rem;
        width: 24rem;
    }

    .application-line-chart .no-application-message {
        text-align: center;
    }
}