.addInterview {
    composes: formPage from '../../../../components/formPage/FormPage.module.css';
}

.context {
    composes: context from '../../../../components/formPage/FormPage.module.css';
}

.submitButton {
    composes: actions from '../../../../components/formPage/FormPage.module.css';
}
