.add-interview {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.add-interview label {
  justify-content: left;
  display: flex;
}

.add-interview h2 {
  font-size: 24px;
  margin-bottom: 20px;
  word-break: break-all;
}

.add-interview p {
  word-break: break-all;
}

.add-interview input {
  width: 575px;
  padding: 6px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1.5px solid #ddd;
}

.add-interview .submit-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 70px; 
}

.add-interview button {
  color:#ddd;
  background:#f1356d;
  border: 0;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.add-interview a {
  color:#ddd;
  background:#f1356d;
  border: 0;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}
