.interview-list {
  max-width: 710px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interview-list .interview {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  gap: 60px;
}
.interview-list .button-group {
  display: flex;
  margin-left: auto;
  cursor: pointer;
  align-items: center;
  color:#fff;
  gap: 10px;
}
.interview-list .button-group button {
  background-color:#f1356d;
  border: 0;
  border-radius: 10px;
  color:#fff;
  cursor: pointer;
  padding: 8px 10px;
}
.interview-list .interview-button {
  display: flex;
  gap: 70px;
}
.interview-list .interview-content {  
  color: #666;
  word-break: break-all;
}
.interview-list .interview-content h2 {
  font-size: 24px;
  color: black;
}
.interview-list .interview-content .date {
  font-weight: bold;
  color: 	#343a40;
}
.interview-list .interview-content p:last-of-type {
  font-weight: bold;
  color:red;
}
.interview-list .interview-content a {
  background-color: #e0f0ff;
  color: #0d6efd;                 
  padding: 4px 20px;           
  border-radius: 5px;            
  font-weight: bolder;          
  font-size: 13px;   
  margin-top: 10px;            
  letter-spacing: 0.5px; 
  border: none;
  display: flex;
  max-width: fit-content;
  cursor: pointer;
  text-decoration: none;
}
.interview-list .interview-content a:hover {
  background-color: #d0e8ff;
}
.interview-list .interview-button button {
  background-color:#f1356d;
  border: 0;
  border-radius: 10px;
  color:#fff;
  cursor: pointer;
  padding: 8px 10px;
  margin-top: 20px;
}
