.toggleButton {
    font-size: 0.75rem;
    text-align: center;
}

.switch {
    background-color: #b7b9ba;
    border: 1px solid #aaa;
    border-radius: 99px;
    width: 50px;
    height: 28px;
    transition: background-color 0.1s ease, border-color 0.2s ease;
    cursor: pointer;
    position: relative;
    display: flex;
    margin: auto;
}

.thumb {
    height: 20px;
    width: 20px;
    background-color: #ffff;
    border-radius: 99px;
    transition: left 0.15s ease;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
}

.switch.green {
    background-color: #15b58e;
}

.switch.yellow {
    background-color: #fbc02d;
}

.switch.blue {
    background-color: #2b83f6;
}

.switch:hover {
    border-color: #6f6f6f;
}

.switch.green .thumb,
.switch.yellow .thumb,
.switch.blue .thumb {
    left: 25px;
}
