.toggleButton {
    font-size: 0.75rem;
    text-align: center;
}

.switch {
    background-color: var(--colorSwitchOff);
    border: 1px solid var(--colorSwitchOffBorder);
    border-radius: 99px;
    width: 50px;
    height: 28px;
    transition: background-color 0.1s ease, border-color 0.2s ease;
    cursor: pointer;
    position: relative;
    display: flex;
    margin: auto;
}

.thumb {
    height: 20px;
    width: 20px;
    background-color: var(--colorSwitchThumb);
    border-radius: 99px;
    transition: left 0.15s ease;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
}

.switch.green {
    background-color: var(--colorSwitchOnGreen);
}

.switch.yellow {
    background-color: var(--colorSwitchOnYellow);
}

.switch.blue {
    background-color: var(--colorSwitchOnBlue);
}

.switch:hover {
    border-color: var(--colorSwitchHoverBorder);
}

.switch.green .thumb,
.switch.yellow .thumb,
.switch.blue .thumb {
    left: 25px;
}
