.archivedApplicationList {
    composes: archivedApplicationList from '../../../../application/archivedApplication/viewArchivedApplication/ViewArchivedApplication.module.css';
}

.boardLayout {
    composes: boardLayout from '../../../../application/archivedApplication/viewArchivedApplication/ViewArchivedApplication.module.css';
}

.controlsRow {
    composes: controlsRow from '../../../../application/archivedApplication/viewArchivedApplication/ViewArchivedApplication.module.css';
    padding-top: 20px;
}

.controlsRow > * {
    margin-top: 0;
}

.highlighted {
    composes: highlighted from '../../../../application/archivedApplication/viewArchivedApplication/ViewArchivedApplication.module.css';
}
