.addInterview {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.addInterview label {
    justify-content: left;
    display: flex;
}

.addInterview h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    word-break: break-all;
}

.addInterview p {
    word-wrap: break-word;
}

.addInterview input {
    width: 100%;
    padding: 6px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1.5px solid #ddd;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    -webkit-appearance: none;
    appearance: none;
}

.submitButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 70px;
    color: white;
}

.addInterview a {
    color: #ddd;
    background: var(--colorPrimary);
    border: 0;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.875rem;
}

@media (max-width: 1150px) and (orientation: portrait) {
    .addInterview {
        max-width: 90%;
    }

    .addInterview h2 {
        font-size: 1.2rem;
        margin-bottom: 16px;
    }

    .addInterview label {
        font-size: 0.8rem;
    }

    .addInterview button {
        padding: 6.4px 8px;
        border-radius: 9.6px;
        font-size: 0.7rem;
    }
}
