.interview {
    width: 100%;
    padding: 16px;
    background: var(--colorCardBg);
    border: 1px solid var(--colorCardBorder);
    border-radius: 15px;
    display: flex;
    gap: 60px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.buttonGroup {
    display: grid;
    margin-left: auto;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    color: var(--colorBadgeText);
    gap: 10px;
    width: 190px;
}

.interviewContent {
    color: var(--colorTextSecondary);
    overflow-wrap: anywhere;
    gap: 16px;
    width: 500px;
}

.archived .interviewContent {
    overflow-wrap: normal;
    word-break: break-all;
}

.location {
    color: var(--colorLocationText);
}

.type {
    color: var(--colorInterviewType);
}

.notes {
    background-color: var(--colorNotesBg);
    border-left: 4px solid var(--colorNotesBorder);
    padding: 6px 6px 6px 10px;
    margin-top: 4px;
    color: var(--colorNotesText);
    overflow-wrap: anywhere;
}

.archived .notes {
    padding: 0 0 0 10px;
    overflow-wrap: normal;
}

.interviewContent h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: var(--colorText);
}

.date {
    font-weight: bold;
    color: var(--colorText);
}

.interviewContent p:last-of-type {
    font-weight: bold;
    color: var(--colorTimeLeft);
}

.interviewContent a {
    background-color: var(--colorLinkBg);
    color: var(--colorLinkText);
    padding: 4px 20px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 0.8125rem;
    margin-top: 10px;
    letter-spacing: 0.5px;
    border: none;
    display: flex;
    max-width: fit-content;
    cursor: pointer;
    text-decoration: none;
}

.interviewContent a:hover {
    background-color: var(--colorLinkHoverBg);
}

@media (max-width: 803px) {
    .interview {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        gap: 8px;
    }

    .interviewContent {
        min-width: 260px;
        font-size: 0.9rem;
    }

    .buttonGroup {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        width: auto;
        padding-right: 16px;
        padding-left: 24px;
    }

    .interviewContent h2 {
        font-size: 1.2rem;
    }

    .buttonGroup button {
        font-size: 0.8rem;
    }

    .interviewContent a {
        font-size: 0.7rem;
    }
}
