.navbar {
    composes: navbar from '../../../../components/navbar/Navbar.module.css';
}

.links {
    composes: links from '../../../../components/navbar/Navbar.module.css';
}

.active {
    composes: active from '../../../../components/navbar/Navbar.module.css';
}

.inactive {
    composes: inactive from '../../../../components/navbar/Navbar.module.css';
}

.archiveStatus {
    composes: archiveStatus from '../../../../components/navbar/Navbar.module.css';
}
