.archivedApplicationList {
    max-width: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    min-height: 70vh;
}

.highlighted {
    animation: highlightFade 4s ease-in-out;
}

@keyframes highlightFade {
    0% {
        background-color: var(--colorHighlightAnim);
    }

    100% {
        background-color: inherit;
    }
}

@media (max-width: 803px) {
    .archivedApplicationList {
        max-width: 90%;
        padding-right: 20px;
    }
}
