.loading-spinner {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #dddd;
    border-top-color: black;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}